
{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

<h1>Enter your updated book details</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

<!--    <label for="">Enter your book name</label>-->
<!--    <input type="text" name="title" placeholder="Enter your book name" value="{{book.title}}">-->

<!--    <label for="">Enter your book price</label>-->
<!--    <input type="text" name="price" placeholder="Enter your book price" value="{{book.price}}">-->

    <input type="submit" value="update">
</form>

{% endblock %}